.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20rem;
}

.signup-error-text {
  color: red;
  margin-bottom: 1rem;
}

.create-but {
  display: flex;
  flex-direction: column;
  align-items: center;
}
